:root{
  --header-color:#578cb9;
  --header_link-color:#ffffff;
  --header_link:#6dcffb;
}
body {
  font-family: Montserrat, Helvetica, sans-serif;
  line-height: 1.6;
}

.header {
  background-color: var(--header-color);
  height: 100px;
  margin-bottom: 20px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header_list {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding-right: 100px;
}

.header_item {
  padding: 10px;
  margin-right: 10px;
}

.header_link {
  padding: 10px;

  text-decoration: none;
  color: var(--header_link-color);
}

.header_link:first-child {
  margin-right: 10px;
}

.header_link:hover,
:focus {
  background-color: var(--header_link-color);
  color: var(--header_link);
  border-radius: 10px;

}

.header_icon {
  margin-right: 200px;
  text-decoration: none;
  font-size: 24px;
  color: black;
}



.header_nav_link {
  text-decoration: none;
  color: black;
}

.header_nav_link:hover,
:focus {
  color: var(--header_link-color);
  
}

.header_login {
  display: flex;
  justify-content: end;
  text-decoration: none;
  list-style: none;
  padding-right: 30px;
  color: black;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.main_title {
  text-align: center;
}

.footer {
  margin-top: 30px;
  background-color: rgba(213, 213, 213, 0.742);
}
.footer_container {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
}

.footer_contact {
  text-decoration: none;
  list-style: none;
}

.footer_contact_title {
  font-size: 20px;
}

.footer_contact_link {
  text-decoration: none;
  color: rgb(217, 0, 0);
}

.footer_contact_link:hover,
:focus {
  color: blue;
}

.footer_contact_item {
  padding: 5px;
}

.footer_about {
  list-style: none;
}
.images_placeholders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.main_recommended {
  display: flex;
  justify-content: left;
  width: 300px;
}
.main_image_item {
  text-decoration: none;
  list-style: none;
}
.left {
  display: flex;
  align-items: start;
}
.right {
  display: flex;
  align-items: start;
}
